<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spontaneous</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

    <!-- BootStrap - for forms -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
   <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/styles.css"/>
    <!-- For Cookies -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <!-- Custom Script -->
    <script src="scripts/app.js" defer></script> 
</head>

<body>
    <header>
        <h1 class = "capBold">Spontaneous!</h1>
        <div id = "formabout">
                <form action="/profile"  id="loginForm">
                    <input class = "border" id="email" type="text" placeholder="Email" name="email" required>
                    
                    <input type="password" id="password" placeholder="Password" name="psw" required>
    
                    <button type="submit"  id="submitBtn"class="btn">Login!</button>      
                </form>
            </div>
    </header>
    
    <div class = "picture"></div>

  
  

    
    <p >
        We're constantly connected to our world, but striving to make meaningful connections. We're overwhelmed with options, yet we struggle to make a decision. Meet Spontaneous, a new way to meet people without trying to make a decison of which meetup to attend! We're a Meetup generator that provides you with three random opportunities to meet new people everyday to make lasting connections!
    </p>
    <div class = "new">
        <h3>New to Spontaneous?</h3>

        <div id = "signupModal">
            <a href="" class="btn" id="signupBtn" data-toggle="modal" data-target="#modalRegisterForm">Sign Up!</a>
        
            <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <div class="modal-dialog" role="document">

                <div class="modal-content" id="signupForm">
                    <div class="modal-header text-center">
                        <button type="button" class="signUpBtn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body mx-3">
                            <label>Name</label>
                            <input type="text" id="subName" class="form-control validate" required>
                            
                            <label>Email</label>
                            <input type="email" id="subEmail" class="form-control validate" required>
                            
                            <label>Password</label>
                            <input type="password" id="subPass" class="form-control validate" required>
                            
                            <label>Confirm Password</label>
                            <input type="password" id="subVerify" class="form-control validate" required>
                            <br>
                        
                            <button type="submit" class="btn" id="signUpBtn">Let's Go!</button>
                    </div> 
                </div> 
            <!-- END SIGNUP MODAL --> 
    </div>  
</body>
</html>