<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spontaneous</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- BootStrap - for forms -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed" rel="stylesheet">
   <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/styles.css"/>
    <!-- For Cookies -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <!-- Custom Script -->
    <script src="scripts/app.js" defer></script> 
</head>
<body >
<div class = "mainContainer">
 
    <div class="picture"> 
            <h1 class = "capBold">Spontaneous</h1>    
        <!-- <div class="bg-img"> -->
            <form action="/profile" class="container" id="loginForm">
            
              <label for="email"><b>Email</b></label>
              <input class = "border"type="text" placeholder="Enter Email" name="email" required>
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>
              <button type="submit" id ="submitBtn" class="btn">Login</button>
            </form>
            <!-- bootsrap modal -->
    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"   aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="signupForm">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                        <button type="button" class="signUpBtn" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="subName" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="orangeForm-name">Name</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input type="email" id="subEmail" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="orangeForm-email">Email</label>
                        </div>
                    
                        <div class="md-form mb-4">
                            <i class="fa fa-lock prefix grey-text"></i>
                            <input type="password" id="subPass" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="orangeForm-pass">Password</label>
                        </div>

                        <div class="md-form mb-4">
                            <i class="fa fa-lock prefix grey-text"></i>
                            <input type="password" id="subVerify" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="orangeForm-pass">Verify Password</label>
                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-deep-orange" id="signUpBtn">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
                <h3 class = "capBold">New to Spontaneous?</h3>
                <div class = "parg">
                    <p id = "about">We live in an interetsing world. We're constantly connected to our world, but striving to make meaningful connections. We have hundreds of options, but can't make a decision. Meet Spontaneous,a new way to meet people without trying to make a decison. We're a Meetup generator that provides you with three random opportunities to meet new people everyday and make lasting connections!</p>
            </div>
            <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm">Sign Up</a>
        </div>
        </div>
    </div>
   
      
</body>
</html>