<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Select Interests</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="./scripts/interests.js"></script> -->
</head>
<body>
    <div id ="formContainer">
        <form>
            <input type="checkbox" id ="tech" name="tech" value="tech"> Tech
            <input type="checkbox" id ="family" name="family" value="family"> Family
            <input type="checkbox" id ="hw" name="hw" value="hw"> Health and Wellness
            <input type="checkbox" id ="sf" name="sf" value="sf"> Sports and Fitness
            <input type="checkbox" id ="learning" name="learning" value="learning"> learning
            <input type="checkbox" id ="photo" name="photo" value="photo"> Photo
            <input type="checkbox" id ="fd" name="fd" value="fd"> Food and Drink
            <input type="checkbox" id ="writing" name="writing" value="writing"> Writing
            


            <input type="submit" value="Submit">
          </form>
    </div>
</body>
</html>