.materialize-textarea, #input_text, input{
    border: 1px solid black;
}

h1,h3,{
    text-align: center;
}
*{
    max-width: 95vw;
}

header{
    color:white;
    background-color: #f64060;
    width: 100vw;
}
h2{
    background-color: black;
    color:white;
}
.addBtn, #removeBtn, .decide{
    background-color: #f64060;
    color: white;
    border: none;
    border-radius: 3px;
    text-align: center;
}

#removeBtn{
    margin-left: 3em;
}
