* {
    height:auto;
}
.materialize-textarea, #input_text, input{
    border: 1px solid black;
}
ul{
    list-style-type: none;
}
li{
    width: 90%;
    text-decoration: none;
}
img{
    width: 90%;
}
#list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
#meetupList{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#meetupHdr{
    width: 90%;
}
#meetup{
    width: 90%;
}
#meetupBtn{
    width: 90%;
}
body{
    text-align: center;
}
nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#logout{
    margin-right: 10px;
    margin-top: 10px;
}