*{
    background: #ffffff;
}

.main, 
.pgform,
header, 
.modals, 
#formabout, 
.new{
    display: flex;
}

.new, 
h3, 
#signupModal{
    background-color: #000000;
}

h3, 
.btn-default, 
.btn{color:white}

.pgform{flex-direction: column;}
.capBold{margin: 1em;}


.container .btn{margin-top: 10px;}
#about{width: 65vw;}
#submitBtn{width: 10vw;}

header{
    color: #F64060;
    text-align: center;
    justify-content: space-between;
}

#formabout{
    flex-direction: row;
    margin: 1em;
}

#signupBtn{
    margin-top:1em;
    margin-left: .75em;
}

.capBold, .btn{
    font-family: 'Rock Salt', cursive;
    text-transform: uppercase;
    font-weight: bolder;
}

.picture{
    background-image: url("/images/main.jpg");
    height: 50vh;
    width: 100vw; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-default, .btn{
    background-color:#F64060;
    text-align: center;
    border: 2px solid white;
}

#email, #password{
    width: 10vw;
    margin-top: 2em;
}

p{
    margin: 1em 5em;
    text-align: center;
    font-size: 1.25em;
    font-weight: 500;
}

.new{
    justify-content: center;
    padding-bottom:1.2em;
}

#signInBtn.btn{
    width: 50px;
    height: 50px;
    margin-top: 15em;
}

.btn-default:hover, .btn:hover{
    color: #F64060;
    background: #fff;
    border: 3px solid #F64060;
}

